<div style="text-align:center">
  <h5>
    Welcome to {{ title }}!
  </h5>
  
  <div id='box-container'>
    <app-one-panel (callmsgbox)="showMsBox($event)" [text]="userMsg"></app-one-panel>
    <div *ngIf="showInput" id="msgBox" class="card-body">
      <label>Ingrese el mensaje:</label><br>
      <input [value]="userMsg" type="text" (input)="userMsg = $event.target.value">
      <p></p>
      <button class="btn btn-primary">Guardar</button>
    </div>

  </div>

  <router-outlet></router-outlet>